

<nav class="navbar navbar-light" style="background-color: #c066a2;">
    <!-- Navbar content -->
    <nav class="navbar navbar-expand-sm navbar-custom">
               Welcome!
    </nav>
</nav>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>